<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormatSnap | EZ Image format converter | By STM</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1 class="title">FormatSnap</h1>
        <p class="subtitle">EZ Image format converter</p>
        <div id="drop-area">
            <form id="form" enctype="multipart/form-data">
                <p>Arrastra y suelta una imagen aquí o <label for="fileElem" id="fileLabel">sube una</label>.</p>
                <input type="file" id="fileElem" accept="image/*" onchange="handleFiles(this.files)">
                <div id="gallery"></div>
                <button type="button" id="clearBtn" onclick="clearImage()" style="display: none;" title="Eliminar imagen">x</button>
                <div class="form-controls">
                    <select id="formatSelect">
                        <option value="JPEG">JPEG</option>
                        <option value="PNG">PNG</option>
                        <option value="GIF">GIF</option>
                        <option value="BMP">BMP</option>
                        <option value="ICO">ICO</option>
                        <option value="TIFF">TIFF</option>
                        <option value="WEBP">WEBP</option>
                    </select>
                    <button type="button" onclick="convertImage()">Convertir</button>
                </div>
                <p id="error-message" style="color: red; display: none;">Debes cargar una imagen antes de convertir.</p>
                <p id="same-format-error" style="color: red; display: none;">No es posible convertir al mismo formato.</p>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
